/* Variables de diseño */
:root {
  --primary-color: #007bff;
  --primary-hover: #0056b3;
  --background-color: #f4f4f9;
  --text-color: #333;
  --border-color: #ddd;
  --box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  --border-radius: 5px;
}

/* General */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

/* Menú de categorías */
#menu {
  width: 30%;
  max-width: 400px;
  padding: 1.25rem;
  background: white;
  border-right: 2px solid var(--border-color);
  overflow-y: auto;
  box-shadow: var(--box-shadow);
}

/* Título del menú */
#menu h2 {
  font-size: 1.375rem;
  margin-bottom: 0.9375rem;
  color: var(--primary-hover);
}

/* Títulos del menú (categorías) */
#menu h3 {
  font-size: 1rem;
  margin: 2rem 0 0.625rem;
  color: var(--primary-color);
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 0.3125rem;
}

/* Checkboxes (subcategorías) */
.checkbox-group label {
  display: flex;
  align-items: baseline;
  font-size: 0.75rem;
  margin-bottom: 10px;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 0.5rem;
}

/* Botones */
button {
  display: block;
  width: 100%;
  margin-top: 1.25rem;
  padding: 0.625rem;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

button:hover {
  background: var(--primary-hover);
}

/* Mapa */
#map {
  flex-grow: 1;
  height: 100vh;
  margin: 0;
  border-left: 2px solid var(--border-color);
}

/* Selector de formato */
#format-selector {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background: white;
  padding: 0.625rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  font-size: 0.875rem;
}

#format-selector label {
  margin-right: 0.3125rem;
  font-weight: bold;
}

#format-selector select {
  padding: 0.3125rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  font-size: 0.875rem;
  cursor: pointer;
}